body {
    margin: 0px;
}
header nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px 15px 50px;
    background-color: gray;
    align-items: center;
    color: white;
}

header nav.navbar .logo {
    display: flex;
    align-items: center;
}

header nav.navbar .logo img {
    margin-right: 10px;
}

header nav.navbar .links ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header nav.navbar .links ul li {
    margin: 0px 20px 0px 20px;
}

header nav.navbar .links ul li a {
    text-decoration: none;
    color: white;
}

main section.campo-sobre {
    padding: 0px 50px 0px 50px ;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }